<div class="record">
  <a target="_blank" href="https://beian.miit.gov.cn" rel="noreferrer noopener nofollow">粤ICP备18042948号-1</a>
</div>
<div class="source-code">
  <a target="_blank" href="https://github.com/midoushitongtong/blog" rel="noreferrer noopener nofollow">网站源代码</a>
</div>